
.p10{
    padding: 10px;
}

#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.mainContent{
    height: inherit;
    background: #fff;
    padding: 24px;
    margin: 0px;
    min-height: 280px
}

.echarts{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
}

.initEchart{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    cursor: move;
}


.dragZoom{
    min-height:600px;
    background-image: url("../img/m.jpg");
    background-size: cover;
}

